
<!DOCTYPE html>
<html>
  <head>
    <title>OMOP Patient Viewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .main {
          position: center;
          text-align: center;
        }
        .column1 {
          position: center;
          color: #4287f5;
        }
        #bottom {
          position: absolute;
          bottom: 0;
          width: 100%;
          color: #ffffff;
          background-color: #4287f5;
          padding: 15px 0;
        }
        
      </style>
  </head>
  <body>
    <div class="main">
        <div class="column1">
            <h1  style="text-align:center">OMOP Patient Viewer</h1>
        </div>

        <div overflow:scroll;>
            <div class="row">
              
              <div class="col-md-4 col-md-offset-4">
                  <b>Encounter Detail Information: </b>
                  <table style="width:100%" class=table-bordered>
                  {% for name, value in encounter.get_fields %}
                      {% if value %}
                      <tr>
                          <td>{{ name }}</td>
                          <td>{{ value }}</td>
                      </tr>
                      {% endif %}
                  {% endfor %}
                  </table>
              </div>
              
              <br> <br>

              <div class="col-md-12 col-md-offset-0">
                <b>Observation Detail Information: </b>
                <table style="width:100%" class=table-bordered>
                  <tr>
                    {% for name, value in observation_fields %}
                      {% if value %}
                          <th>{{ name }}</th>
                      {% endif %}
                  {% endfor %}
                  </tr>
                  

                  {% for obs in observations %}
                    <tr>
                      {% for name, value in obs.get_fields %}
                        {% if value %}
                          <td>{{ value }}</td>
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </table>
              </div> 

              <br> <br>

              <div class="col-md-12 col-md-offset-0">
                <b>Condition Detail Information: </b>
                <table style="width:100%" class=table-bordered>
                  <tr>
                    {% for name, value in condition_fields %}
                      {% if value %}
                          <th>{{ name }}</th>
                      {% endif %}
                  {% endfor %}
                  </tr>
                  

                  {% for cond in conditions %}
                    <tr>
                      {% for name, value in cond.get_fields %}
                        {% if value %}
                          <td>{{ value }}</td>
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </table>
              </div> 

              <div class="col-md-12 col-md-offset-0">
                <b>Notes Information: </b>
                <table style="width:100%" class=table-bordered>
                  <!--
                  <tr>
                    {% for name, value in note_fields %}
                      {% if value %}
                          <th>{{ name }}</th>
                      {% endif %}
                  {% endfor %}
                  </tr>
                  -->

                  <tr>
                    <th>Note ID</th>
                    <th>Note Date</th>
                    <th>Note Type</th>
                    <th>Note Text</th>
                  </tr>

                  {% for note in notes %}
                    <!--
                    <tr>
                      {% for name, value in note.get_fields %}
                        {% if value %}
                          <td>{{ value }}</td>
                        {% endif %}
                      {% endfor %}
                    </tr>
                    -->

                  <tr>
                    <td>{{ note.note_id }}</td>
                    <td>{{ note.note_date }}</td>
                    <td>{{ note.note_source_value }}</td>
                    <td>{{ note.note_text }}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div> 


            </div>
        </div>

        <div class="fixed-bottom">Copyright @Guannan Gong 2020. Email: guannan.gong@yale.edu</div>
      
    </div>
  </body>
</html> 
